################ N8N CONFIGURATION ################
N8N_HOST=yourdomain.com
N8N_PORT=
N8N_PROTOCOL=https
NODE_ENV=production
N8N_BLOCK_ENV_ACCESS_IN_NODE=false
N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_SECURE_COOKIE=false
N8N_COMMUNITY_PACKAGES_ENABLED=true
WEBHOOK_URL=https://yourdomain.com/
WORKING_DIR=/home/your-project-directory

################ DISCORD CONFIGURATION ################
DISCORD_BOT_TOKEN=BOT_TOKEN_HERE
DISCORD_BOT_STAGING_TOKEN=BOT_STAGING_TOKEN_HERE
#FOLLOWING URLs ARE FROM N8N WEBHOOK NODES
N8N_WEBHOOK_TEST_URL=https://yourdomain.com/webhook-test/xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
N8N_WEBHOOK_URL=https://yourdomain.com/webhook/xxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

######## 3RD PARTY API KEYS ##########
YOUR_AI_AGENT_API_KEY=sk-xxxxxxxxxxxxx-xxxxxx-xxxxxxxxxxxx
SUPADATA_API_KEY=sd-xxxxxxxxxxxxx-xxxxxx-xxxxxxxxxxxx
### SUPADATA IS API TO TRANSCRIBE FROM YOUTUBE URL TO TEXT, YOU CAN GET IT FROM https://supadata.ai/
### TRANSCRIPT DOCS : https://docs.supadata.ai/get-transcript

######## RESULTS WEB PAGE CONFIGURATION ##########
RESULTS_DIR=/data/results
RESULTS_TEMP_DIR=/data/temp